<div class="main-content">
  <div class="show-content">
    <div class="widget-container">
      <h2>Hi <%= @user['name'] %></h2>
      <a class="filament" href="/filament">
        <h3>Filament</h3>
      </a>
      <a class="inventory" href="/inventory">
        <h3>Inventory</h3>
      </a>
      <a class="equipment" href="/equipment">
        <h3>Equipment</h3>
      </a>
      <div class="tickets">
        <h3>Tickets</h3>
        <a href="/tickets/new">New Ticket</a>
        <a href="/tickets">View Tickets</a>
      </div>
    </div>
    <div class="news-container">
      <h2>News</h2>
      <div class="news">
        <h3>3D Printing News</h3>
        <p>3D printing is a process of making three dimensional solid objects from a digital file. The creation of a 3D
          printed object is achieved using additive processes. In an additive process an object is created by laying
          down successive layers of material until the object is created. Each of these layers can be seen as a thinly
          sliced horizontal cross-section of the eventual object.</p>
      </div>
    </div>
  </div>
</div>