<div class="main-content">
  <aside>
    <a href="/logout">Logout</a>
  </aside>
  <div class="show-content">
    <div class="screen-tile">
      <h2>Hi <%= @user['name'] %></h2>
    </div>
  </div>
</div>