<form action='/prodcuts' method='post'>
  <label>
    Name: <input type='text' name='name'>
    Vendor: <input type='text' name='vendor'>
    Description: <input type='text' name='description'>
    Type: <select required name='type'>
      <option value=''>Select</option>
      <option value='fillament'>Fillament</option>
      <option value='equipment'>Equipment</option>
      <option value='electronic'>Electronic</option>
    </select>
  </label>
  <button type='submit'>Send</button>
</form>