<form action='/inventory' method='post'>
  <label>
    Product: <input type='number' name='product_id'>
    Active: <input type='checkbox' name='active'>
    Date: <input type='date' name='date'>
  </label>
  <button type='submit'>Send</button>
</form>