<div class="main-content">
  <div class="show-content">
    <!--    Big Title with background image fading into background-->
    <div class="screen-tile screen-tile-bg" style="background-image: url('img/msnet.jpg');">
      <h1>MsNet - Makerspace inventory management</h1>
      <h2>Everything you need is stored here!</h2>
      <!--      sign in or register block-->
      <div class="sign-in-block">
        <a href="/login" class="btn">Sign in</a>
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
    </div>
    <div class="screen-tile">
      <h1>What is MsNet?</h1>
      <p>MsNet is a web application that allows you to browse and access your makerspaces inventory. You can add, edit
        and delete items, as well as see who has borrowed them. You can peruse, request access, borrow or book anything
        from a special filament, a microcontroller or the VR-lab!</p>
    </div>
  </div>
</div>