<div class="main-content">
  <div class="show-content">
    <!--    Big Title with background image fading into background-->
    <div class="screen-tile screen-tile-bg" style="background-image: url('img/msnet.jpg');">
      <div>
        <h1>MsNet - Makerspace inventory management</h1>
        <h2>Everything you need is stored here!</h2>
      </div>
      <!--      sign in or register block-->
      <div class="sign-in-block">
        <a href="" class="plain-text">Question about accounts? Ask in the <span class="highlight">Discord Server!</span></a>
        <div>
          <a href="/login" class="btn btn-light">Sign in</a>
          <a href="/register" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
    <div class="screen-tile">
      <h1>What is MsNet?</h1>
      <p>MsNet is a web application that allows you to browse and access your makerspaces inventory. You can add, edit
        and delete items, as well as see who has borrowed them. You can peruse, request access, borrow or book anything
        from a special filament, a microcontroller or the VR-lab!</p>

      <div class="card-container">
        <div class="card">
          <h2>Fillament</h2>
          <p>MsNet has a wide range of filaments for 3D printing. You can see what is available, request access and
            borrow it for your projects.</p>
        </div>
        <div class="card">
          <h2>Tools and Hardware</h2>
          <p>Need a soldering iron, a multimeter or a screwdriver? MsNet has a wide range of tools and hardware that you
            can borrow for your projects.</p>
        </div>
        <div class="card">
          <h2>Machines and Resources</h2>
          <p>MsNet has a wide range of machines and resources that you can book for your projects. From the VR-lab to
            the 3D printers, you can book them here.</p>
        </div>
        <div class="card">
          <h2>Connectivity</h2>
          <p>MsNet has a notification system that will notify you when your request has been approved or when your
            booking is ready. It also has a handy optional discord integration to keep you updated.</p>
        </div>
      </div>
    </div>
  </div>
</div>