@import url("https://use.typekit.net/vfu0oii.css");

:root {
    --magenta: #dd0890;
    --ultraviolett:#4b0082;
    --turkosmint:#0de1ec;
    --ultramarin:#200c9c;
    --granitgra:#f0f0f0;
    --kolgra:#222222;
}


body {
    font-family: soleto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--kolgra);
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}


div.main-grid-layout {
    display: grid;
    grid-template-columns: 15% auto;
    height: 100vh;
    grid-template-rows: 10% auto;
    grid-template-areas: "header header" "sidebar content";
}

div.main-grid-layout > header {
    grid-area: header;
    background-color: var(--kolgra);
    color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
    grid-template-areas: 'nav tx';
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}


div.main-grid-layout > header > h1 {
    grid-area: tx;
    margin: 0;
}

div.main-grid-layout header h1 {
    margin: 0;
}

div.main-grid-layout > aside {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    background-color: #f0f0f0;
    /*padding: 10px;*/
}

div.main-grid-layout > aside:before {
    content: "";
    display: block;
    background-color: var(--kolgra);
    height: 50px;
}

div.main-grid-layout aside h2{
    margin: 0;
    padding: 5px 0 0 10px;
    background-color: var(--kolgra);
    color: #fff;
}

div.main-grid-layout aside ul{
    margin: 0;
    padding: 5px 0 0 10px;
    list-style: none;
}

div.main-grid-layout aside ul li a {
    text-decoration: none;
    color: var(--kolgra);
}

div.main-grid-layout aside ul li form button {
    font-family: soleto, sans-serif;
    text-decoration: none;
    border: none;
    padding: 0;
    height: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--kolgra);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

div.main-grid-layout aside ul li form button:hover {
    color: #b75ef6;
}

div.main-grid-layout aside ul li a:hover {
    color: #b75ef6;
}

div.main-grid-layout table.content {
    grid-area: content;
    /*padding: 10px;*/
    height: min-content;
    border-collapse: collapse;
}

div.main-grid-layout table.content tr:nth-child(2n+3){
    background-color: #bbbbbb;
}

div.main-grid-layout table.content tr:hover {
    background-color: #b75ef6;
}

div.main-grid-layout table.content tr:first-child {
    height: 50px;
    background-color: #444444;
    color: #fff;
    /*padding: 10px;*/
}

div.main-grid-layout table.content tr{
    height: auto;
    border-width: 0;
    /*padding: 10px;*/
    /*border: var(--kolgra)333 solid 1px;*/
    background-color: #d0d0d0;
}


div.main-grid-layout table.content tr td {
    border-width: 0;
    padding: 0;
    /*border: var(--kolgra)333 solid 1px;*/
    /*background-color: var(--kolgra);*/
}
div.main-grid-layout table.content tr td p{
    margin: 0;
    vertical-align: center;
}

div.main-grid-layout > table.content > tr > td> a {
    text-decoration: none;
    /*color: var(--kolgra);*/

}

.capitalize {
    text-transform: capitalize;
}

.table-center {
    text-align: center;
}

.image-placeholder {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: var(--kolgra);
}

table.content tr td:nth-child(2) {
    display: flex;
    align-items: center;
}

table.content tr th:nth-child(2) {
    text-align: left;
    padding-left: 10px;

}






div.show-content {
    grid-area: content;
}

span.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#menu-toggle {
    padding: 0.5em;
    padding-bottom: 0.3em;
    position: absolute;
    z-index: 10;

    background: transparent;
    color: transparent;
    border: 0;

    cursor: pointer;
    color: #B2B2B2FF;
    border: #B2B2B2FF solid 1px;
    border-radius: 5px;
    transition: color ease-in-out 0.2s, border ease-in-out 0.2s;
}

#menu-toggle:hover {
    color: var(--granitgra);
    border: var(--granitgra) solid 1px;
}