@import url("https://use.typekit.net/vfu0oii.css");

:root {
    --magenta: #dd0890;
    --ultraviolett: #4b0082;
    --turkosmint: #0de1ec;
    --ultramarin: #200c9c;
    --granitgra: #f0f0f0;
    --kolgra: #222222;
    --andesitgra: #6F6D6D
}


body {
    font-family: soleto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--granitgra);
    /*background-color: #fff;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--kolgra);
    border-left: var(--andesitgra) solid 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


div.main-grid-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "headbar" "extra-headbar" "content";
}

div.main-grid-layout > header {
    grid-area: headbar;
    background-color: var(--kolgra);
    color: #fff;
    padding: 10px;
    display: flex;
}

div.main-grid-layout > div.extra-headbar {
    grid-area: extra-headbar;
    background-color: var(--kolgra);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}

div.main-grid-layout > header > img {
    height: 40px;
    width: 40px;
    margin: 0 10px 0 10px;
    align-self: center;
}

div.main-grid-layout > header > h1 {
    grid-area: tx;
    height: min-content;
    align-self: center;
    margin: 0;
    font-size: 1.8em;
}

div.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    grid-template-areas: "aside content";
    background: var(--kolgra);
    border-top: var(--andesitgra) solid 1px;
}

div.main-content > aside {
    grid-area: aside;
    width: fit-content;
    /* color mix kolgra and granitgra*/
    background: #3d3045;

    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.main-content > aside:empty {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}

.table-center {
    text-align: center;
}

.image-placeholder {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: var(--kolgra);
}


div.show-content {
    grid-area: content;
}

span.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.menu-control {
    padding: 0.3em 0.3em 0.2em 0.3em;
    position: absolute;
    z-index: 0;

    background: transparent;

    cursor: pointer;
    color: var(--andesitgra);
    border: var(--andesitgra) solid 1px;
    border-radius: 5px;
    transition: color ease-in-out 0.2s, border ease-in-out 0.2s;
}

.menu-control:hover {
    color: var(--granitgra);
    border: var(--granitgra) solid 1px;
}

div#primary-navigation {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;

    background-color: #282828;

    margin: 0;
    padding: 0 10px 0 10px;
    width: 20vw;
    height: 100vh;
    list-style: none;
    z-index: 4;

    grid-template-rows: min-content auto;
    grid-template-areas: "content-header"
    "content";


    /* justify-content: space-around; */
}

#primary-navigation[data-state="closed"] {
    display: none;
}

#primary-navigation[data-state="closing"] {
    animation: slideOut 250ms ease-in-out forwards;
}

#primary-navigation[data-state="opened"] {
    animation: slideIn 250ms ease-in-out forwards;
    display: grid;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

div#primary-navigation > h2 {
    text-transform: uppercase;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: var(--kolgra);

    opacity: 50%;
    z-index: 1;
    display: none;
}

#primary-navigation[data-state="opened"] ~ #dim {
    display: block;
}

div#primary-navigation > div:first-child {
    display: flex;
    align-content: space-around;
    grid-area: content-header;
}

div#primary-navigation > div > h2 {
    margin-bottom: 0;
}

div#primary-navigation > div > button {
    right: 10px;
    top: 10px;
}

#nav-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#nav-content > div.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav-content > *:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--granitgra);
    opacity: 50%;
    margin: 10px 0;
}

#nav-content a {
    text-decoration: none;
    color: var(--granitgra);
    transition: background-color ease-in-out 0.2s;
    font-weight: 200;
    padding: 2px;
}

#nav-content a:hover {
    background-color: var(--granitgra);
    color: var(--kolgra);
}


#content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--kolgra);
}

.account-form {
    padding: 20px;
    border: 1px solid var(--andesitgra);
    background-color: var(--kolgra);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form label {
    color: var(--granitgra);
    text-align: left;
}

.login-form input {
    -webkit-appearance: none;
    padding: 10px;
    border: 1px solid var(--andesitgra);
    border-radius: 5px;
    width: 250px;
    margin: 0 0 10px 0;
}

.login-form button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(60deg, var(--ultraviolett), var(--magenta));
    background-size: 500% 100%;
    color: var(--granitgra);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1em;
}

.login-form button:hover {
    background-position: 100% 0;
}

.login-form a {
    color: var(--granitgra);
    text-decoration: none;
}

.account-form span {
    color: var(--magenta);
}

#content-center > h1 {
    text-align: center;
    color: var(--granitgra);
}

.logo > a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.logo > a > img.large-logo {
    height: 100px;
    width: 100px;
    margin: 0;
    align-self: center;
}


.screen-tile {
    width: 90%;
    padding: 1% 2.5% 1% 7.5%;
    border-bottom: var(--andesitgra) solid 1px;
}

.screen-tile-bg {
    /*    background image cover no repeat aligned to right side*/
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 70vh;
}

.screen-tile h1 {
    margin-bottom: 0;
    font-size: 4em;
    font-weight: 500;
}

.screen-tile h2 {
    display: block;
    font-weight: 300;
    font-style: italic;
    margin: 0 0 0 4%;
}


.sign-in-block {
    margin-top: 30vh;
    display: flex;
    width: 40%;
}

.sign-in-block a {
    margin: 0 40px 0 0;
    text-decoration: none;
}


.btn {
    padding: 10px;
    border-radius: 5px;
    background-size: 500% 100%;
    color: var(--granitgra);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1em;
    border: 1px solid var(--magenta);
}

.btn:hover {
    border-color: var(--granitgra);
}


.btn-light:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
}

.btn-primary {
    border: none;
    background-color: var(--magenta);
}

.btn-primary:hover {
    background-color: var(--ultraviolett);
}