<div class="main-grid-layout">
  <header>
    <h1>MsNet / Inventory / <%= @title %></h1>
    <nav>
      <button type="button" id="menu-control" aria-label="Menu" aria-controls="primary-navigation" aria-expanded="false">
        <span class="visually-hidden">Menu</span>
        <i class="material-symbols-outlined" aria-hidden="true">menu</i>
      </button>
    </nav>
  </header>

  <aside>

    <ul>
      <li>
        <a href="/inventory/new">New</a>
      </li>
      <li>
        <a>Edit</a>
      </li>
      <li>
        <a href="/products/<%=@data["product_id"] %>">Product</a>
      </li>
      <li>
        <form action='/inventory/<%=  @data['id'] %>/delete' method='post'>
          <button type="submit">Delete</button>
        </form>
      </li>
      <li>
        <a href="/inventory">Back</a>
      </li>
    </ul>
  </aside>

</div>